body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle farthest-side at 0% 50%, #d1ecf4 23.5%, #0000 0)33.6px 48px,
        radial-gradient(circle farthest-side at 0% 50%, #d1ead9 24%, #0000 0)30.4px 48px,
        linear-gradient(#d1ecf4 14%, #0000 0, #0000 85%, #d1ecf4 0)0 0,
        linear-gradient(150deg, #d1ecf4 24%, #d1ead9 0, #d1ead9 26%, #0000 0, #0000 74%, #d1ead9 0, #d1ead9 76%, #d1ecf4 0)0 0,
        linear-gradient(30deg, #d1ecf4 24%, #d1ead9 0, #d1ead9 26%, #0000 0, #0000 74%, #d1ead9 0, #d1ead9 76%, #d1ecf4 0)0 0,
        linear-gradient(90deg, #d1ead9 2%, #d1ecf4 0, #d1ecf4 98%, #d1ead9 0%)0 0 #d1ecf4;
    background-size: 64px 96px;
    background-color: #d1ecf4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    text-align: center;
}

p a {
    color: #4CAF50;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

header {
    background:
      radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#32b4b4 68% 70%,#0000 72%) 32px 32px/calc(2*32px) calc(2*32px),
      radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#32b4b4 68% 70%,#0000 72%) 32px 32px/calc(2*32px) calc(2*32px),
      radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#32b4b4 68% 70%,#0000 72%) 0 0/calc(2*32px) calc(2*32px),
      radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#32b4b4 68% 70%,#0000 72%) 0 0/calc(2*32px) calc(2*32px),
      repeating-conic-gradient(#4caf50 0 25%,#0000 0 50%) 0 0/calc(2*32px) calc(2*32px),
      radial-gradient(#0000 66%,#32b4b4 68% 70%,#0000 72%) 0 calc(32px/2)/32px 32px
      #4caf50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
}

.contenido {
    display: none;
}

.contenido.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.btn-editar {
    background-color: #FFD700;
    /* Color dorado para el botón de editar*/
}

.btn-editar:hover {
    background-color: #FFC107;
    /* Color más claro para el hover */
}

.btn-eliminar {
    background-color: #FF6347;
    /* Color rojo tomate para el botón de eliminar */
}

.btn-eliminar:hover {
    background-color: #FF4500;
    /* Color más oscuro para el hover */
}